.p{
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
   /* margin-top: 1104px;
    margin-bottom: 456px;
    margin-left: 365px;
    margin-right: 710px;*/
    
}

